body{
    background: rgb(0, 0, 0);
}

p{
    color: #ffffff;            
    font-family: Georgia, serif;
 font-size:18px;            
    color: #ffffff;     
    text-align: center;  
    margin-top: 350px;                 
}

h1 a:hover {
    color: #ff9dce;            
}

h1 {
    text-align: center;  
    margin-top: 350px;  
    font-style: italic  
}

h1 a {
    font-size: 150px;
    color: #ffffff;   
    text-decoration: none;
}
.author {
    text-align: center;
    font-size: 20px;   
    color: #cccccc;   
    margin-top:30px; 
    font-style: italic
    }
    .scarf.copy.jpg {
    max-width: 2000px;  
    margin: 60px;    
}
body {
  font-family: Georgia, serif;
  text-align: center;
  padding-top: 100px;
}

a {
  text-decoration: none;
  color: rgb(255, 116, 183);
  font-size: 2em;
  transition: all 0.4s ease;
}

.author {
  font-size: 1em;
  color: #555;
}