body {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    background-color: rgb(232, 236, 234);
    color: darkblue
}


h1 {
    font-family: "Playwrite AU TAS", cursive;
    font-size: 40px;
}

main {
    max-width: 900px;
    margin: 0 auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: top;
    align-content: center;
    justify-content: space-between;
}

.gallery .artifact {
    flex-basis: 45%;
}

.gallery .artifact img {
    max-width: 100%;
}


@media(max-width: 768px) {

h1 {
    font-size: 20px;
}

#mobile-content {
    display: flex;
}

#desktop-content {
    display: none;
}

.gallery .artifact {
    flex-basis: 90%;
}
}